<p>order-informationpage works!</p>

<div>
    <table class="table">
      <tr class="tr">
        <th>Order ID</th>
        <th>Agent ID</th>
        <th>Agent Name</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>AmounttobePaid</th>
        <th>AmountPaid</th>
      </tr>
      <tr class="tr" *ngFor="let OrderInformationpage of OrderInformationlist">
          <!--Rememeber to check with the previous one -->
        <td>{{OrderInformationpage.OrderID}}</td>
        <td>{{OrderInformationpage.AgentID}}</td>
        <td>{{OrderInformationpage.AgentName}}</td>
        <td>{{OrderInformationpage.CustomerID}}</td>
        <td>{{OrderInformationpage.CustomerName}}</td>
        <td>{{OrderInformationpage.ProductID}}</td>
        <td>{{OrderInformationpage.ProductName}}</td>
        <td>{{OrderInformationpage.Quantity}}</td>
        <td>{{OrderInformationpage.AmounttobePaid}}</td>
        <td>{{OrderInformationpage.AmountPaid}}</td>

        <!--<td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>-->
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>