<p>order-informationpage works!</p>
<form>
  <div>
    <label>CustomerID</label>
    <input type="text" name="OrderID"><br>
    <label>OrderID</label>
    <input type="text" name="AgentID"><br>
    <label>AgentID</label>
    <input type="text" name="AgentName"><br>
    <label>AgentName</label>
    <input type="text" name="CustomerID"><br>
    <label>CustomerID</label>
    <input type="text" name="ProductID"><br>
    <label>ProductID</label>
    <input type="text" name="ProductName"><br>
    <label>ProductName</label>
    <input type="text" name="Quantity"><br>
    <label>Quantity</label>
    <input type="text" name="AmounttobePaid"><br>
    <label>AmounttobePaid</label>
    <input type="text" name="AmountPaid"><br>
    <label>AmountPaid</label>
    <input type="text" name="AmountPaid"><br>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Order ID</th>
        <th>Agent ID</th>
        <th>Agent Name</th>
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>AmounttobePaid</th>
        <th>AmountPaid</th>
      </tr>
      <tr class="tr" *ngFor="let OrderInformationpage of orderinformationlist">
          <!--Rememeber to check with the previous one -->
        <td>{{OrderInformationpage.OrderID}}</td>
        <td>{{OrderInformationpage.AgentID}}</td>
        <td>{{OrderInformationpage.AgentName}}</td>
        <td>{{OrderInformationpage.CustomerID}}</td>
        <td>{{OrderInformationpage.CustomerName}}</td>
        <td>{{OrderInformationpage.ProductID}}</td>
        <td>{{OrderInformationpage.ProductName}}</td>
        <td>{{OrderInformationpage.Quantity}}</td>
        <td>{{OrderInformationpage.AmounttobePaid}}</td>
        <td>{{OrderInformationpage.AmountPaid}}</td>

        <!--<td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>-->
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>