
<form #orderinformationregistration="ngForm" (ngSubmit)="createOrderInformation(orderinformationregistration)">
  <div>
    <div class="orderinfo-form"></div>
    <input type="hidden" ngModel="{{orderinformation.OrderID}}" name="OrderID"><br>
    <label>EmployeeName</label>
    <!-- <input type="text" ngModel="{{orderinformation.EmployeeName}}" name="EmployeeName"><br> -->
    <select name="EmployeeName" ngModel="{{orderinformation.EmployeeName}}" >
      <option value="">Select One</option>
      <option *ngFor="let employee of employeeslist" value="employee.FirstName">{{employee.FirstName}} {{employee.LastName}}</option>
    </select>
    <label>CustomerName</label>
    <select ngModel="{{orderinformation.CustomerName}}" name="CustomerName">
      <option value="">Select One</option>
      <option *ngFor="let customer of customerslist" value="customer.CustomerName">{{customer.CustomerName}}</option>
    </select>
    <label>ProductName</label>
    <select #product ngModel="{{orderinformation.ProductName}}" name="ProductName" (change)="productn(product.value)">
      <option value="">Select One</option>
      <option *ngFor="let product of productlist" value="{{product.ProductID}}" >{{product.ProductName}} </option>
    </select>
    <label>Quantity</label>
    <input type="number" #Quantity ngModel="{{orderinformation.Quantity}}" name="Quantity" (input)="getinteger(Quantity.value)"><br>
    <label>AmountTobePaid</label>
    <input type="text" ngModel="{{orderinformation.AmountToBePaid}}" name="AmountToBePaid"><br>
    <label>AmountPaid</label>
    <input type="text" #AmountPaid ngModel="{{orderinformation.AmountPaid}}" name="AmountPaid"(input)="getbalance(AmountPaid.value)"><br>
    <label>Balance</label>
    <input type="text" ngModel="{{Balance}}" name="Balance"><br>
    <label *ngIf="!isUpdate">DateOfOrder</label>
    <input type="date" *ngIf="!isUpdate"ngModel="{{orderinformation.DateOfOrder}}" name="DateOfOrder"><br>
    <div *ngIf="isUpdate">
    <label>Status</label>
    <!-- <input type="text" ngModel="{{orderinformation.Status}}" name="Status"><br> -->
    <select name="Status" ngModel="{{orderinformation.EmployeeName}}" >
      <option value="capture">Capture</option>
      <option value="booked">Booked</option>
      <option value="packed">Packed</option>
      <option value="dispatched">Dispatched</option>
      <option value="delivered">Delivered</option>
      <option value="not-delivered">Not delivered</option>
    </select>
  </div>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Order ID</th>
        <th>Employee Name</th>
        <th>Customer Name</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>AmountToBePaid</th>
        <th>AmountPaid</th>
        <th>DateOfOrder</th>
        <th>Status</th>

        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let  OrderInformationpage of orderinformationlist">
          <!--Rememeber to check with the previous one -->
        <td>{{OrderInformationpage.OrderID}}</td>
        <td>{{OrderInformationpage.EmployeeName}}</td>
        <td>{{OrderInformationpage.CustomerName}}</td>
        <td>{{OrderInformationpage.ProductName}}</td>
        <td>{{OrderInformationpage.Quantity}}</td>
        <td>{{OrderInformationpage.AmountToBePaid}}</td>
        <td>{{OrderInformationpage.AmountPaid}}</td>
        <td>{{OrderInformationpage.DateOfOrder}}</td>
        <td>{{OrderInformationpage.Status}}</td>

        <td><button class="btn edit-button" (click)="editOrderInformation(OrderInformationpage)">Edit</button><button class="btn delete-button" (click)="deleteOrderInformation(OrderInformationpage)">Delete</button></td>
        <button type="button clear-button" (click)="clearForm(orderinformationregistration)">Clear</button>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>