<p>customerspage works!</p>
<form #customerregistration="ngForm" (ngSubmit)="createCustomer(customerregistration)">
  <div>
    <label>CustomerName</label>
    <input type="text" ngModel name="CustomerName"><br>
    <label>PhoneNumber</label>
    <input type="text" ngModel name="PhoneNumber"><br>
    <label>EmailAddress</label>
    <input type="text" ngModel name="EmailAddress"><br>
    <label>Location</label>
    <input type="text" ngModel name="Location"><br>
    <button type="submit">createCustomer
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Phone Number</th>
        <th>Email Addrress</th>
        <th>Location</th>
      </tr>
      <tr class="tr" *ngFor="let customerspage of customerslist">
          Rememeber to check with the previous one
         <td>{{customerspage.CustomerID}}</td> 
        <td>{{customerspage.CustomerName}}</td>
        <td>{{customerspage.PhoneNumber}}</td>
        <td>{{customerspage.EmailAddress}}</td>
        <td>{{customerspage.Location}}</td> 
        <!-- <td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td> -->
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>