<body>
    <!--<form class="collect" #suppliersdata="ngForm" (ngSubmit)="onSubmit(suppliersdata)">
      <div class="data">
        <input type="hidden"  ngModel="{{suppliers.SupplierID}}"  name="SupplierID"  class="form-control form-control-lg" />
        <input type="text" ngModel="{{suppliers.SupplierName}}" name="supplierName" class="form-control form-control-lg" />
        <label class="label" for="supplierName">Suppliers Name</label>
      </div>
      <div class="data">
        <input type="int" ngModel="{{suppliers.ProductID}}" name="productID" class="form-control form-control-lg" />
        <label class="label" for="productID">ProductID</label>
      </div>
      <div class="data">
        <input type="int" ngModel="{{suppliers.Email}}" name="email" class="form-control form-control-lg" />
        <label class="label" for="email">Email</label>
      </div>
      <div class="data">
        <input type="int" ngModel="{{suppliers.PhoneNo}}" name="phoneNo" class="form-control form-control-lg" />
        <label class="label" for="phoneNo">Phone No</label>
      </div>
      <div class="data">
        <input type="int" ngModel="{{suppliers.Address}}" name="address" class="form-control form-control-lg" />
        <label class="label" for="address">Address</label>
      </div>
      <button class="btn" type="Add">Add</button>
    </form> -->
    <form #supplierinformationregistration="ngForm" (ngSubmit)="createSuppliersInformation(supplierinformationregistration)">
  <div>
    <input type="hidden" ngModel="{{supplierinformation.SupplierID}}" name="SupplierID"><br>
    <label>SupplierName</label>
    <input type="text" ngModel="{{supplierinformation.SupplierName}}" name="SupplierName"><br>
    <label>ProductID</label>
    <input type="text" ngModel="{{supplierinformation.ProductID}}" name="ProductID"><br>
    <label>Quantity</label>
    <input type="text" ngModel="{{supplierinformation.Quantity}}" name="Quantity"><br>
    <label>DateOfReceival</label>
    <input type="date" ngModel="{{supplierinformation.DateOfReceival}}" name="DateOfReceival"><br>
    <label>AmountPaid</label>
    <input type="text" ngModel="{{supplierinformation.AmountPaid}}" name="AmountPaid"><br>
    <label>EmployeeID</label>
    <input type="text" ngModel="{{supplierinformation.EmployeeID}}" name="EmployeeID"><br>
    <button type="submit">{{buttonmessage}}</button>
  </div>
</form>
<div>
  <table class="table">
    <tr class="tr">
      <th>Suppliers Name</th>
      <th>Product ID</th>
      <th>Quantity</th>
      <th>DateOfDelivery</th>
      <th>Amount Paid</th>
      <th>EmployeeID</th>
      <th colspan="2">Action</th>
    </tr>
    <tr class="tr" *ngFor="let SuppliersInformation of supplierinformationlist">
        <!--Rememeber to check with the previous one -->
      <td>{{SuppliersInformation.SupplierName}}</td>
      <td>{{SuppliersInformation.ProductID}}</td>
      <td>{{SuppliersInformation.Quantity}}</td>
      <td>{{SuppliersInformation.DateOfDelivery}}</td>
      <td>{{SuppliersInformation.AmountPaid}}</td>
      <td>{{SuppliersInformation.EmployeeID}}</td>
      <td><button class="btn" (click)="editSupplierInformation(SuppliersInformation)">Edit</button><button class="btn" (click)="deleteSuppliersInformation(SuppliersInformation)">Delete</button></td>
    </tr>
    <tr class="tr"></tr>
  </table>
</div>
