<p>test2 works!</p>
<p>statuspage works!</p>
<form #statusregistration="ngForm" (ngSubmit)="createstatus(statusregistration)">
  <div>
    <label>StatusName</label>
    <input type="text" ngModel name="StatusName"><br>
    <button type="submit">createstatus
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Status ID</th>
        <th>Status Name</th>
      </tr>
      <tr class="tr" *ngFor="let Status of statuslist ">
          <!--Rememeber to check with the previous one -->
        <td>{{Status.StatusID}}</td>
        <td>{{Status.StatusName}}</td>

        <!--<td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>-->
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>