<form #statusregistration="ngForm" (ngSubmit)="createstatus(statusregistration)">
  <div class="main-container"> <form #stockregistration="ngForm" (ngSubmit)="createstatus(statusregistration)" class="form form-container"> <div>
    <div class="status-form"></div>
    <input type="hidden" ngModel="{{status.StatusID}}" name="StatusID"><br>
    <label>StatusName</label>
    <input type="text" ngModel="{{status.StatusName}}" name="StatusName"><br>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div class="hell">
  <div class="table-container"> <table class="table"></table>
    <table class="table">
      <tr class="tr">
        <th>Status ID</th>
        <th>Status Name</th>
        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let Status of statuslist ">
          <!--Rememeber to check with the previous one -->
        <td>{{Status.StatusID}}</td>
        <td>{{Status.StatusName}}</td>

        <td><button class="btn edit-button" (click)="editStatus(Status)">Edit</button><button class="btn delete-button" (click)="deleteStatus(Status)">Delete</button></td>
        <button type="button clear-button" (click)="clearForm(statusregistration)">Clear</button>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>