<html>
  <main>
    <router-outlet></router-outlet>
  </main>
  <body>
    <!--H1>Promasidor Kenya Limited</H1>
    <--The Navigation Bar>
    <ul class="ul">
      <Company Logo  goes here>
      <li><a class="navigation" routerLink="/about">About</a></li>
      <li><a class="navigation" routerLink="/customers">Customers</a></li>
      <li><a class="navigation" routerLink="/DeliveryInformation ">Delivery Info</a></li>
      <li><a class="navigation" routerLink="/Employees">Employees</a></li>
      <li><a class="navigation" routerLink="/OrderInformation">Order Info</a></li>
      <li><a class="navigation" routerLink="/Product">Products</a></li>
      <li><a class="navigation" routerLink="/Status ">Status</a></li>
      <li><a class="navigation" routerLink="/Stock">Stock</a></li>
      <li><a class="navigation" routerLink="/suppliers-informationpage">Suppliers Info</a></li> 
      <li><a class="navigation" routerLink="/Suppliers">Suppliers</a></li>
    </ul>
  <h1>Welcome to my Webpage</h1-->
  </body>
</html>