
<html>
  <head class="main">
    <title>Promasidor Kenya Limited</title>
    
  </head>
  
  <body>
        <H1>Promasidor Kenya Limited</H1>
    
    <!--The Navigation Bar-->
    
    <ul class="ul">
      <!--Company Logo  goes here-->
      <li><img src="/src/assets/promasidor-logo.png"></li>

      <li><a class="navigation" routerLink="/about">About</a></li>
      <li><a class="navigation" routerLink="/Customers">Customers</a></li>
      <li><a class="navigation" routerLink="/DeliveryInformation ">delivery-information</a></li>
      <li><a class="navigation" routerLink="/Employees">employees</a></li>
      <li><a class="navigation" routerLink="/OrderInformation">order-information</a></li>
      <li><a class="navigation" routerLink="/Product">product</a></li>
      <li><a class="navigation" routerLink="/Status ">status</a></li>
      <li><a class="navigation" routerLink="/Stock">stock</a></li>
      <li><a class="navigation" routerLink="/suppliers-informationpage">suppliers-information</a></li> 
      <li><a class="navigation" routerLink="/Supplier">suppliers</a></li>

      <!-- system entry goes here-->
      <li><a class="navigation" routerLink="/Login">Login</a></li>
  </ul>
      
    
    
  <h1>Welcome to my Webpage</h1>
  
  </body>
  <main>
    <router-outlet></router-outlet>
  </main>
</html>
