
<form #supplierregistration="ngForm" (ngSubmit)="createSuppliers(supplierregistration)">
  <div>
    <div class="supplier-form"></div>
    <input type="hidden" ngModel="{{suppliers.SupplierID}}" name="SupplierID"><br>
    <label>SupplierName</label>
    <input type="text" ngModel="{{suppliers.SupplierName}}" name="SupplierName"><br>
    <label>PhoneNumber</label>
    <input type="text" ngModel="{{suppliers.PhoneNumber}}" name="PhoneNumber"><br>
    <label>EmailAddress</label>
    <input type="text" ngModel="{{suppliers.EmailAddress}}" name="EmailAddress"><br>
    <label>Location</label>
    <input type="text" ngModel="{{suppliers.Location}}" name ="Location"><br>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Suppliers ID</th>
        <th>Suppliers Name</th>
        <th>Phone Number</th>
        <th>EmailAddress</th>
        <th>Location</th>
        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let Suppliers of supplierslist">
          <!--Rememeber to check with the previous one -->
        <td>{{Suppliers.SupplierID}}</td>
        <td>{{Suppliers.SupplierName}}</td>
        <td>{{Suppliers.PhoneNumber}}</td>
        <td>{{Suppliers.EmailAddress}}</td>
        <td>{{Suppliers.Location}}</td>
        <td><button class="btn edit-button" (click)="editSuppliers(Suppliers)">Edit</button>
          <!-- <button class="btn delete-button" (click)="deleteSuppliers(Suppliers)">Delete</button> -->
        </td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>
