<p>stockpage works!</p>
<form #stockregistration="ngForm" (ngSubmit)="createstock(stockregistration)">
  <div>
    <input type="hidden" ngModel="{{stock.ProductID}}" name="ProductID"><br>
    <label>ProductID</label>
    <input type="text" ngModel="{{stock.ProductID}}" name="ProductID"><br>
    <label>ProductName</label>
    <input type="text" ngModel="{{stock.ProductName}}" name="ProductName"><br>
    <label>ProductType</label>
    <input type="text" ngModel="{{stock.ProductType}}" name="ProductType"><br>
    <label>QuantityAvailable</label>
    <input type="text" ngModel="{{stock.QuantityAvailable}}" name="QuantityAvailable"><br>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>ProductID</th>
        <th>ProductName</th>
        <th>QuantityAvailable </th>
        <th>Product Type</th>
        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let Stock of stocklist">
          <!--Rememeber to check with the previous one -->
        <td>{{Stock.ProductID}}</td>
        <td>{{Stock.ProductName}}</td>
        <td>{{Stock.QuantityAvailable}}</td>
        <td>{{Stock.ProductType}}</td>
        <td><button class="btn" (click)="editStock(Stock)">Edit</button><button class="btn" (click)="deleteStock(Stock)">Delete</button></td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>