<p>stockpage works!</p>
<form #stockregistration="ngForm" (ngSubmit)="createstock(stockregistration)">
  <div>
    <label>ProductID</label>
    <input type="text" ngModel name="ProductID"><br>
    <label>ProductName</label>
    <input type="text" ngModel name="ProductName"><br>
    <label>ProductType</label>
    <input type="text" ngModel name="ProductType"><br>
    <label>QuantityAvailable</label>
    <input type="text" ngModel name="QuantityAvailable"><br>
    <button type="submit">createstock
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>ProductID</th>
        <th>ProductName</th>
        <th>QuantityAvailable </th>
        <th>Product Type</th>
      </tr>
      <tr class="tr" *ngFor="let Stock of stocklist">
          <!--Rememeber to check with the previous one -->
        <td>{{Stock.ProductID}}</td>
        <td>{{Stock.ProductName}}</td>
        <td>{{Stock.QuantityAvailable}}</td>
        <td>{{Stock.ProductType}}</td>
        <!--<td><button class="btn" (click)="editStock(stocks)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>-->
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>