<p>dashboard works!</p>
<html>
  <main>
    <router-outlet></router-outlet>
  </main>
  <body>
    <H1>Promasidor Kenya Limited</H1>
    <!--The Navigation Bar-->
    <ul class="ul">
      <!--Company Logo  goes here-->
      <li><a class="navigation" routerLink="about">About</a></li>
      <li><a class="navigation" routerLink="customerProfile">Customers</a></li>
      <!-- <li><a class="navigation" routerLink="delivery">Delivery Info</a></li> -->
      <li><a class="navigation" routerLink="employeeProfile">Employees</a></li>
      <li><a class="navigation" routerLink="orders">Order Info</a></li>
      <li><a class="navigation" routerLink="products">Products</a></li>
      <li><a class="navigation" routerLink="status">Status</a></li>
      <li><a class="navigation" routerLink="stock">Stock</a></li>
      <li><a class="navigation" routerLink="supplierinfo">Suppliers Info</a></li> 
      <li><a class="navigation" routerLink="supplier">Suppliers</a></li>
      <li><a class="navigation" (click)="logout()"> logout</a></li>
    </ul>
  <h1>Welcome to my Webpage</h1>
  </body>
</html>
