<p>productpage works!</p>
<form #productregistration="ngForm" (ngSubmit)="createProduct(productregistration)">
  <div>
    <input type="hidden" ngModel="{{product.ProductID}}" name="ProductID"><br>
    <label>ProductName</label>
    <input type="text" ngModel="{{product.ProductName}}" name="ProductName"><br>
    <label>ProductType</label>
    <input type="text" ngModel="{{product.ProductType}}" name="ProductType"><br>
    <label>ProductDescription</label><br>
    <input type="text" ngModel="{{product.ProductDescription}}" name="ProductDescription"><br>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Product Description</th>
        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let Product of productlist">
          <!--Rememeber to check with the previous one -->
        <td>{{Product.ProductID}}</td>
        <td>{{Product.ProductName}}</td>
        <td>{{Product.ProductType}}</td>
        <td>{{Product.ProductDescription}}</td>

        <td><button class="btn" (click)="editProduct(Product)">Edit</button><button class="btn" (click)="deleteProduct(Product)">Delete</button></td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>