
<form #productregistration="ngForm" (ngSubmit)="createProduct(productregistration)">
  <div class="product-form">
    <input type="hidden" ngModel="{{product.ProductID}}" name="ProductID"><br>
    <label>ProductName</label>
    <input type="text" ngModel="{{product.ProductName}}" name="ProductName"><br>
    <label>ProductType</label>
    <!-- <input type="text" ngModel="{{product.ProductType}}" name="ProductType"><br> -->
    <select name="ProductType" ngModel="{{product.ProductType}}" >
      <!-- <option value="">Select One</option> -->
    <option value="perishable">Perishable</option>
    <option value="non-perishable">Non Perishable</option>
    <option value="non edible">Non Edible</option>
    </select>
    <label>ProductDescription</label><br>
    <input type="text" ngModel="{{product.ProductDescription}}" name="ProductDescription"><br>
    <label>ProductCost</label>
    <input type="text" ngModel="{{product.ProductCost}}" name="ProductCost"><br>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Product Type</th>
        <th>Product Description</th>
        <th>Product Cost</th>
        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let Product of productlist">
          <!--Rememeber to check with the previous one -->
        <td>{{Product.ProductID}}</td>
        <td>{{Product.ProductName}}</td>
        <td>{{Product.ProductType}}</td>
        <td>{{Product.ProductDescription}}</td>
        <td>{{Product.ProductCost}}</td>

        <td><button class="btn edit-button" (click)="editProduct(Product)">Edit</button>
          <!-- <button class="btn delete-button" (click)="deleteProduct(Product)">Delete</button> -->
        </td>
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>