.auth-container {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: aqua;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
  }
  
  button {
    margin-top: 10px;
  }
  