<div class="auth-container">
    <div *ngIf="currentForm === 'login'; else registerForm">
      <h2>Login</h2>
      <p *ngIf="authmessage" >
      {{authmessage}}
      </p>
      <form #loginForm="ngForm" id="loginForm" (ngSubmit)=" createlogin(loginForm)">
        
        <div class="form-group">
            <label for="username"l>Username</label>
            <!-- Your login form fields go here  -->
            <input type="text" id="username" name="username" [(ngModel)]="loginFormData.username" required>
          </div>
          
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="loginFormData.password" required>
          </div>
        <button type="submit">Login</button>
      </form>
      <p>Don't have an account? <a (click)="switchForm('register')">Register</a></p>
    </div>
  
    <ng-template #registerForm>
      <h2>Register</h2>
      <form #registerFormRef="ngForm" (ngSubmit)="onRegisterFormSubmit(registerFormRef)">
        <!-- Your register form fields go here -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" [(ngModel)]="registerFormData.username" required>
          </div>
          
          <!-- <div class="form-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" [(ngModel)]="registerFormData.email" required>
          </div> -->
          
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" id="password" name="password" [(ngModel)]="registerFormData.password" required>
          </div>
          
          <div class="form-group">
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="registerFormData.confirmPassword" required>
          </div>
        <button type="submit">Register</button>
      </form> 
      <p>Already have an account? <a (click)="switchForm('login')">Login</a></p>
    </ng-template>
  </div>