<p>delivery-informationpage works!</p>
<form>
  <div>
    <label>CustomerID</label>
    <input type="text" name="CustomerID"><br>
    <label>CustomerName</label>
    <input type="text" name="CustomerName"><br>
    <label>ProductID</label>
    <input type="text" name="ProductID"><br>
    <label>Quantity</label>
    <input type="text" name="Quantity"><br>
    <label>AmountPaid</label>
    <input type="text" name="AmountPaid"><br>
    <label>DateOfDelivery</label>
    <input type="date" name="DateOfDelivery"><br>
    <label>DelivererID</label>
    <input type="text" name="DelivererID"><br>
    <label>DelivererName</label>
    <input type="text" name="DelivererName"><br>
    <label>Status</label>
    <input type="text" name="Status"><br>
    <label>FailedReason</label>
    <input type="text" name="FailedReason"><br>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>Customer ID</th>
        <th>Customer Name</th>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>AmountPaid</th>
        <th>Date Of Delivery</th>
        <th>Deliverer ID</th>
        <th>Deliverer Name</th>
        <th>Status</th>
        <th>Failed Reason</th>
      </tr>
      <div *ngIf="ShowData">
      <tr class="tr" *ngFor="let Delivery of DeliveryInformationlist ">
          <!--Rememeber to check with the previous one -->
        <td>{{Delivery.CustomerID}}</td>
        <td>{{Delivery.CustomerName}}</td>
        <td>{{Delivery.ProductID}}</td>
        <td>{{Delivery.ProductName}}</td>
        <td>{{Delivery.Quantity}}</td>
        <td>{{Delivery.AmountPaid}}</td>
        <td>{{Delivery.DateOfDelivery}}</td>
        <td>{{Delivery.DelivererID}}</td>
        <td>{{Delivery.DelivererName}}</td>
        <td>{{Delivery.Status}}</td>
        <td>{{Delivery.FailedReason}}</td>

        <!--<td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>-->
      </tr>
    </div>
    <div ngelse>
      <tr class="tr">
        <td colspan="5">no data found</td>
      </tr> 
    </div>
      <tr class="tr"></tr>
    </table>
  </div>