<p>employees-page works!</p>
<form>
  <div>
    <label>FirstName</label>
    <input type="text" name="FirstName"><br>
    <label>LastName</label>
    <input type="text" name="LastName"><br>
    <label>ProductID</label>
    <input type="date" name="DateofBirth"><br>
    <label>DateofBirth</label>
    <input type="text" name="PhoneNumber"><br>
    <label>PhoneNumber</label>
    <input type="text" name="EmailAddress"><br>
    <label>EmailAddress</label>
    <input type="date" name="UserName"><br>
    <label>UserName</label>
    <input type="text" name="Password"><br>
    <label>Password</label>
    <input type="text" name="Role"><br>
    <label>Role</label>
    <input type="text" name="EmployeeID"><br>
    <label>EmployeeID</label>
    <input type="text" name="EmployeeID"><br>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <th>User Name</th>
        <th>Password</th>
        <th>Role</th>
        <th>Employee ID</th>
      </tr>
      <tr class="tr" *ngFor="let Employees of  employeeslist ">
          <!--Rememeber to check with the previous one -->
        <td>{{Employees.FirstName}}</td>
        <td>{{Employees.LastName}}</td>
        <td>{{Employees.DateofBirth}}</td>
        <td>{{Employees.PhoneNumber}}</td>
        <td>{{Employees.EmailAddress}}</td>
        <td>{{Employees.UserName}}</td>
        <td>{{Employees.Password}}</td>
        <td>{{Employees.Role}}</td>
        <td>{{Employees.EmployeeID}}</td>

        <!--<td><button class="btn" (click)="editSupplier(suppliers)">Edit</button><button class="btn" (click)="deleteSupplier(suppliers.SupplierID)">Delete</button></td>-->
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>