
<form #employeeregistration="ngForm" (ngSubmit)="createEmployee(employeeregistration)">
  <div>
    <div class="employees-form"></div>
    <input type="hidden" ngModel="{{employees.EmployeeID}}" name="EmployeeID"><br>
    <label>FirstName</label>
    <input type="text" ngModel="{{employees.FirstName}}" name="FirstName"><br>
    <label>LastName</label>
    <input type="text" ngModel="{{employees.LastName}}" name="LastName"><br>
    <label *ngIf="!isUpdate">DateofBirth</label>
    <input type="date" *ngIf="!isUpdate"ngModel="{{employees.DateofBirth}}" name="DateofBirth"><br>
    <label>PhoneNumber</label>
    <input type="text" ngModel="{{employees.PhoneNumber}}" name="PhoneNumber"><br>
    <label>EmailAddress</label>
    <input type="text" ngModel="{{employees.EmailAddress}}" name="EmailAddress"><br>
    <!-- <label>UserName</label>
    <input type="text" ngModel="{{employees.Username}}" name="UserName"><br> -->
    <!-- <label>Password</label>
    <input type="text" ngModel="{{employees.Password}}" name="Password"><br> -->
    <label>Role</label>
    <!-- <input type="text" ngModel="{{employees.Role}}" name="Role"><br> -->
    <select name="Role" ngModel="{{employees.Role}}" >
      <!-- <option value="">Select One</option> -->
      <option value="agent">Agent</option>
      <option value="store-clerk">Store Clerk</option>
      <option value="driver">Driver</option>
    </select>
    <button type="submit">{{buttonmessage}}
    </button>
  </div>
</form>
<div>
    <table class="table">
      <tr class="tr">
        <th>First Name</th>
        <th>Last Name</th>
        <th>Date of Birth</th>
        <th>Phone Number</th>
        <th>Email Address</th>
        <!-- <th>UserName</th> -->
        <!-- <th>Password</th> -->
        <th>Role</th>
        <th>Employee ID</th>
        <th colspan="2">Action</th>
      </tr>
      <tr class="tr" *ngFor="let Employees of  employeeslist ">
          <!--Rememeber to check with the previous one -->
        <td>{{Employees.FirstName}}</td>
        <td>{{Employees.LastName}}</td>
        <td>{{Employees.DateofBirth}}</td>
        <td>{{Employees.PhoneNumber}}</td>
        <td>{{Employees.EmailAddress}}</td>
        <!-- <td>{{Employees.Username}}</td> -->
        <!-- <td>{{Employees.Password}}</td> -->
        <td>{{Employees.Role}}</td>
        <td>{{Employees.EmployeeID}}</td>

        <td>
          <button class="btn edit-button" (click)="editEmployee(Employees)">Edit</button>
          <!-- <button class="btn delete-button" (click)="deleteEmployee(Employees)">Delete</button> -->
          <button type="button clear-button" (click)="clearForm(employeeregistration)">Clear</button>
        </td>
        
      </tr>
      <tr class="tr"></tr>
    </table>
  </div>